<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>About</title>
</head>
<body>
    <ul class="menu">
        <a href="/"><li>Home</li></a>
        <a href="about"><li>About</li></a>
        <a href="works"><li>Works</li></a>
        <a href="photos"><li>Photos</li></a>
    </ul>

    <h1>
        About her
    </h1>

    <div>
        As a legendary singer of jazz, blues and folk music, Nina Simone is known as an activist woman who sang for civil rights in the 50s and 60s.
    </div>
        
    <img class="nina-simone"
        src="../photos/nina-simone-1.jpeg"
        alt="Nina Simone">

</body>
</html>