<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <title>Works</title>
</head>
<body>
    <ul class="menu">
        <a href="/"><li>Home</li></a>
        <a href="about"><li>About</li></a>
        <a href="works"><li>Works</li></a>
        <a href="photos"><li>Photos</li></a>
    </ul>

    <h1>
        10 best songs of Nina Simone
    </h1>

    <h2>Love Me or Leave Me</h2>
    <article> 1957, displaying in full her pianistic abilities, a small nod to her dream of becoming a concert pianist.
    </article>
    <img class="nina-simone"
        src="../photos/nina-simone-piano.jpeg"
        alt="Nina Simone Piano">

    <h2>Ne me quitte pas, Don't leave me</h2>
    <artcile> 1965, from the famous love ballad Ne me quitte pas by Jacques Brel.
    </artcile>

    <h2>Mississippi Goddam</h2>
    <artcile> 1963, wrote after Martin Luther King arrest, key figure of the Civil Rights movement.
    Composed in honour of Medgar Evers, a civil rights militant killed in 1963 by a member of the Ku Klux Klan
    </artcile>

    <h2>Four Women  </h2>
    <artcile> 1966, revolutionary song, « My skin is brown, my manner is tough »
    </artcile>
</body>
</html>